.root {
	-fx-font-family:Consolas;
}

#bound-book-link {
	-fx-font-size:0.7em;
}

#tab-container .tab-box {
	-fx-padding:5 50 5 5;
}
.tab {
	-fx-background-color:white;
	-fx-padding:5 10 5 10;	
	-fx-border-width: 0.1;
	-fx-border-color:black;
}
.tab.active {
	-fx-border-width: 0 0 2 0, 0.1;
	-fx-border-color:cyan, black;
	-fx-background-color:lightyellow;
}
.tab.modified {
	-fx-border-width: 0 0 2 0,0 0 3 0, 0.1;
	-fx-border-color:cyan, green, black;
}
.tab > .close, .tab > .open {
	-fx-margin-top: 2;
	-fx-background-color:red;
	-fx-background-radius:50%;
	-fx-padding:-2 3 0 3;
	-fx-text-fill:white;
	-fx-font-weight:bold;
}

.tab > .open {
	-fx-background-color:green;
}

#tab-container #scroll {
-fx-background-color:transparent;
-fx-alignment:center;
-fx-padding:0 3 0 10;	
}
#tab-container #scroll .button {
	-fx-base:black;
	-fx-font-weight:bold;
	-fx-font-size:15;
	-fx-shape:"M 4.1562528,85.551706 C 2.0187515,86.827826 -50.154926,57.714138 -50.191328,55.224948 -50.22773,52.735757 1.0723019,22.108871 3.2462051,23.321941 c 2.1739033,1.213071 3.047549,60.953644 0.9100477,62.229765 z";
}
#tab-container #scroll .right {
	-fx-rotate: 180;
}	

#bookmarks  {
	-fx-font-family:Consolas;
}
#editor {
	-fx-background-color:white;
}
#editor .main-title {
		-fx-alignment:center;
		-fx-font-size:2em;
		-fx-padding: 10 0 10 0;
}
#editor .control-box {
	-fx-border-width:1 0 0 0;
	-fx-border-color:lightgray;
	-fx-padding: 0 10 0 0;
} 
.unit-editor .title-box, .unit-editor .title {
	-fx-alignment:center;
	-fx-border-width:1 0 0 0;
	-fx-border-color:lightgray;
	-fx-background-color:white;
}
#center-editor .title {
	-fx-alignment:CENTER_RIGHT;
	-fx-font-size:0.7em;
	-fx-padding:2;
}
.unit-editor .title {
	-fx-padding:3px;
}

#popup-box {
	-fx-background-color:black;
	-fx-border-width:0.5;
	-fx-border-color:white;
	-fx-background-radius:10;
	-fx-border-radius:10;
}
#popup-box .text {
	-fx-text-fill:white;
	-fx-fill:white;
}

#bookmark-addeder .header {
	-fx-padding: 10;
	-fx-font-family: 'Consolas';
	-fx-font-size: 1.3em;
	-fx-background-color: white;
}
#bookmark-addeder .similar, #bookmark-addeder .entryPath {
	-fx-font-size:0.9em;
}
